%roboto-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 500;
}

%notoserif-700 {
  font-family: 'NotoSerif-Bold', serif;
  font-weight: 700;
}